.class-pull-left {
    float: left;
}

.ant-form-item-required::before {
    display: none !important;
}

.ant-form-item-required::after {
    display: inline-block !important;
    content: "*" !important;
    line-height: 1 !important;
    font-size: 14px !important;
    color: #f5222d !important;
}

.ant-form-item .ant-form-item-label > label::after {
    content: '';
}

.ant-form .ant-form-item-label label {
    pointer-events: none !important;
}

.ant-modal-title {
    font-size: 18px !important;
    color: white !important;
}

.ant-modal-close {
    color: white !important;
}

.ant-modal-header {
    background-color: #4377a2 !important;
}

.ant-modal-confirm .ant-modal-content {
    /*width: 460px !important;*/
}

/* disable */
.dbpAWL.ant-btn.ant-btn.disabled, .dbpAWL.ant-btn.ant-btn[disabled], .dbpAWL.ant-btn.ant-btn.disabled:hover, .dbpAWL.ant-btn.ant-btn[disabled]:hover, .dbpAWL.ant-btn.ant-btn.disabled:focus, .dbpAWL.ant-btn.ant-btn[disabled]:focus, .dbpAWL.ant-btn.ant-btn.disabled:active, .dbpAWL.ant-btn.ant-btn[disabled]:active, .dbpAWL.ant-btn.ant-btn.disabled.active, .dbpAWL.ant-btn.ant-btn[disabled].active,
.ant-radio-disabled,
.ant-radio-wrapper-disabled,
.ant-radio-disabled .ant-radio-inner,
.ant-radio-disabled .ant-radio-input,
.ant-radio-disabled + span,
.ant-select-disabled .ant-select-selection,
li.ant-select-tree-treenode-disabled > span:not(.ant-select-tree-switcher),
li.ant-select-tree-treenode-disabled > .ant-select-tree-node-content-wrapper,
li.ant-select-tree-treenode-disabled > .ant-select-tree-node-content-wrapper span,
.ant-select-dropdown-menu-item-disabled:hover, .ant-select-dropdown-menu-item-disabled,
.ant-switch-loading, .ant-switch-disabled,
.ant-switch-loading::before, .ant-switch-disabled::before, .ant-switch-loading::after, .ant-switch-disabled::after {
    cursor: default !important;
}

/* tree */
/*.ant-tree li {*/
/*    padding: 0 !important;*/
/*}*/

/*.ant-tree li .ant-tree-node-content-wrapper{*/
/*    color: #333333 !important;*/
/*    height: 25px !important;*/
/*    padding: 2px 5px !important;*/
/*}*/

/*.ant-tree li .ant-tree-node-content-wrapper:hover {*/
/*    background-color: lightblue !important;*/
/*    color: darkslategrey !important;*/
/*}*/

/*.ant-tree-title .ant-dropdown-trigger {*/
/*    display: inline-block !important;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/* download tooltip */
.download-tooltip .ant-tooltip-inner,
.download-tooltip .ant-tooltip-arrow::before {
    background-color: #fff !important;
}

.download-tooltip-file:hover {
    text-decoration: underline !important;
}

.download-tooltip-file {
    color: #1890ff !important;
    cursor: pointer !important;
}

/* chart */
.div-combo-chart .isoExampleWrapper {
    margin-top: 0 !important;
}

/* scroll-select-selection--multiple */
.scroll-select-selection--multiple .ant-select-selection--multiple {
    max-height: 60px !important;
    overflow: auto;
}

/* huong dan */
@media screen and (max-width: 1600px) {
    .guideDrawer .ant-drawer-content-wrapper {
        width: 70% !important;
    }
}

@media screen and (max-width: 1200px) {
    .guideDrawer .ant-drawer-content-wrapper {
        width: 100% !important;
    }
}

/* .ant-table-row-cell-break-word */
.ant-table-row-cell-break-word {
    word-break: normal !important;
}

.ant-table-thead tr th {
    text-align: center !important;
}

.ant-upload-list-item-error .anticon-paper-clip, .ant-upload-list-item-error .ant-upload-list-item-name {
    color: rgba(0, 0, 0, .65) !important;
}

/*--------------------------------------------------- scroll*/
div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
div::-webkit-scrollbar-track {
    /*background: #dadbe2;*/
    border-radius: 10px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: #bfc4cd;
    border-radius: 10px;
}

.ant-table-body {
    overflow-y: scroll !important;
}

.ant-table-header {
    overflow-y: hidden !important;
    width: calc(100% - 8px) !important;
}

.ant-table-fixed-left .ant-table-header {
    width: calc(100%) !important;
}

.abc {
    text-transform: uppercase;
    page-break-after: always;
}