.div-Signin {
    background: rgba(227, 250, 233, 0.3);
    height: 700px;
    width: 500px;
}

.main-Content {
    color: white;
    width: 100%;
    text-align: center;
}

.content-Signin {
    padding: 100px 50px;
    text-align: left;
}

.label-Signin {
    font-size: 30px;
    color: #009901;
}

.border-Content {
    border: solid 1px white;
    border-radius: 1em;
    border-collapse: collapse;
}

.divSpace {
    height: 50px;
}

.tr-heigh {
    height: 20px;
}

.footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
}

.abcc {
    flex-direction: row;
}